<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
Edit Author
<form action="/authors/editAuthor" method="post">
  <input type="hidden" name="id" th:value="${author.id}">
  Name: <input type="text" name="name" th:value="${author.name}"/><br>
  Surname: <input type="text" name="surname" th:value="${author.surname}"/><br>
  Phone: <input type="text" name="phone" th:value="${author.phone}"/><br>
  Date Of Birth: <input type="date" name="dateOfBirth" th:value="${#dates.format(author.dateOfBirth, 'yyyy-MM-dd')}"/><br>
  Gender: <select name="gender">
  <option value="MALE" th:selected="${author.gender.name()=='MALE'}">Male</option>
  <option value="FEMALE" th:selected="${author.gender.name()=='FEMALE'}">Female</option>
</select><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>