<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Add Book</title>
</head>
<body>
Add Book

<form action="/books/add" method="post" enctype="multipart/form-data">
  Title: <input type="text" name="title" /> <br>
  Price: <input type="number" name="price"/> <br>
  Quantity: <input type="number" name="qty"/> <br>
  Author: <select name="author.id">
  <option th:each="author:${authors}"
          th:value="${author.id}"
          th:text="${author.name + ' ' + author.surname}"></option>
</select><br>
  image: <input type="file" name="image">
  <input type="submit" value="Add">
</form>

<!--<th:block th:include="fragment/my-fragments::footer"></th:block>-->

</body>
</html>